# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/

# LLMs
unsloth_compiled_cache/

# Jupyter
.ipynb_checkpoints/

# Results & data (large files)
data/prompts/ultrachat.jsonl
*.pt
models/

# Env
.env
*.env

# OS
.DS_Store
